$main-background-color: #24252a;
$main-text-color: #fff;

$input-primary-color: #6c7a89;
$input-focus-color: #22a7f0;
$input-border-radius: .2rem;

$button-primary-color: #ecf0f1;
$button-primary-text-color: #161616;

$screen-width-small: 480px;
