$main-background-color: #111;
$main-text-color: #fff;

$input-primary-color: #7f8c8d;
$input-focus-color: #2ecc71;
$input-border-radius: .3rem;

$button-primary-color: #ecf0f1;
$button-primary-text-color: #161616;

$screen-width-small: 480px;
